<footer class="bg-light mt-4 sticky-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h3 class="display-6" id="subTitulo">
                    <span>
                        {{  config.subTitulo }}
                    </span>
                </h3>
                <p class="lead" id="texto">
                    <span>
                        {{  config.describcion }}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="bg-secondary text-center py-2">
        <span class="text-light">Proyecto Aplicaciones y Servicios Web</span>
    </div>
</footer>