<div class="container vh-100">
    <div class="row my-5">
        <div class="col-sm-12 text-center">
        <div class="card shadow p-4">
            <h1 class="display-1">Error 404</h1>
            <p class="display-6">La página que buscas no existe.</p>
            <div>
                <a *ngIf="!isAuth" [routerLink]="['/home']" class="btn btn-outline-dark">Volver al inicio</a>
                <a *ngIf="isAuth" [routerLink]="['/dashboard']" class="btn btn-outline-dark">Volver al inicio</a>
            </div>
        </div>
        </div>
    </div>
</div>
<app-footer></app-footer>