<h1 class="display-5">{{ tabla }}</h1>

<table class="table table-ligth table-hover">
    <thead>
        <tr>
            <th *ngFor="let clave of claves">{{ clave }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dato of datos">
            <td *ngFor="let clave of claves">{{ (dato[clave] != null)? dato[clave] : "Sin Registro" }}</td>

            <!-- columna para eliminar un registro -->
            <td>
                <button class="btn btn-outline-danger">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>