<!-- As a heading -->
<nav class="navbar bg-body-tertiary">
    <div *ngIf="!loggedIn" class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">{{ config.titulo }}</a>
        <ul class="nav">
            <app-nav-item [menu]="config.menuOut"></app-nav-item>
        </ul>
    </div>
    <div *ngIf="loggedIn" class="container-fluid">
        <a class="navbar-brand">{{ config.titulo }}</a>
        <ul class="nav">
            <app-nav-item [menu]="config.menuin"></app-nav-item>
            <li class="nav-item">
                <p class="nav-link text-dark hovAnim">{{ userOnline.nombreUsuario }}</p>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-danger" (click)="outSession()">Cerrar sesion</a>
            </li>
        </ul>
    </div>
</nav>